html {width: 100%; height: 100%;}
body{
    background: url("/assets/nosaczDzwoni.jpg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}
body
{
    font-family: 'Bungee', cursive;
}
